@model IEnumerable<_23210202037.Models.District>

@{
    ViewData["Title"] = "Çanakkale Blog";
}

<link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/blog.js" asp-append-version="true"></script>

<script>
    const districtNames = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(d => d.Name)));
    const districtPopulations = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(d => d.Population)));
</script>

<div class="blog-container">
    <div class="blog-header">
        <h1>Çanakkale İlçeleri ve Nüfus Bilgileri</h1>
    </div>

    <div class="blog-posts">
        @foreach (var district in Model)
        {
            <div class="blog-post">
                <img src="~/img/ilce/@district.Img" alt="@district.Name">
                <h2>@district.Name</h2>
                <p>Nüfus: @district.Population</p>
                <p>@district.Description</p>
            </div>
        }
    </div>

    <div class="chart-container">
        <canvas id="districtChart"></canvas>
    </div>
</div>
